@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  overflow: hidden;
}

.navigation {
  position: relative;
  display: flex;
  min-height: 65px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 400px;
  margin: 0;
  padding: 0;
  padding-left: 59px;
  list-style-type: none;
}

.navigation-item {
  margin-top: 12px;
  margin-right: 9px;
  margin-bottom: 5px;
}

.navigation-item:nth-child(3n) {
  margin-right: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 6px 12px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.navigation-link-current {
  cursor: default;
}

.navigation-link-current::after {
  position: absolute;
  right: 9px;
  top: 52px;
  left: 9px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.logo {
  position: absolute;
  width: 138px;
  top: 0;
  left: 50%;
  border-radius: 0 0 10px 10px;
  transform: translateX(-50%);
}

.logo-image {
  display: block;
}

.logo:focus-visible {
  box-shadow: 0 0 0 3px rgba(117, 98, 87, 1);
  outline: none;
}

.navigation-user {
  justify-content: end;
  align-items: center;
  max-width: 350px;
  margin-left: auto;
  padding-right: 72px;
  padding-left: 0;
}

.navigation-user .navigation-item {
  margin-top: 5px;
  margin-right: 1px;
  margin-bottom: 5px;
}

.navigation-user .navigation-item:last-child {
  margin-right: 0;
}

.navigation-user .navigation-link {
  min-width: 38px;
  min-height: 38px;
  padding: 0;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus-visible {
  color: #756257;
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-link:focus-visible .navigation-icon {
  fill: #756257;
}

.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}

.favorites-counter {
  position: absolute;
  bottom: 19px;
  left: 22px;
  z-index: 1;
  box-sizing: border-box;
  width: 19px;
  height: 19px;
  padding-top: 3px;
  padding-right: 2px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50px;
}

.navigation-link:active::after {
  color: rgba(255, 255, 255, 0.3);
}

.button {
  display: inline-block;
  padding-top: 8px;
  padding-right: 34px;
  padding-bottom: 8px;
  padding-left: 34px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #68a2ca;
}

.button:focus-visible {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
  outline: none;
}

.button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.button-wish {
  margin-left: 22px;
  background-color: #756257;
}

.button-wish:hover {
  background-color: #615048;
}

.button-wish:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-wish:active {
  background-color: #615048;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.main-header {
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.intro {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #e5e5e5;
  background-image: url("../img/divider.svg"), url("../img/background-intro.jpg");
  background-position: 0 bottom, 0 0;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.intro-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.advantages {
  text-align: center;
}

.advantages-title {
  width: 720px;
  margin-top: 61px;
  margin-right: auto;
  margin-bottom: 33px;
  margin-left: auto;
}

.advantages-desc {
  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style-type: none;
}

.advantages-item-first,
.advantages-item-second {
  display: flex;
  background-color: #83b3d3;
}

.advantages-item-wrap {
  box-sizing: border-box;
  width: 400px;
  padding-top: 98px;
  padding-right: 90px;
  padding-left: 90px;
  color: #ffffff;
}

.advantages-image {
  width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature-item,
.advantages-item-third,
.advantages-item-fourth,
.advantages-item-fifth {
  box-sizing: border-box;
  width: 400px;
  padding-top: 98px;
  padding-right: 75px;
  padding-bottom: 91px;
  padding-left: 75px;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-item {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  padding-top: 85px;
  padding-bottom: 72px;
}

.feature-item:first-child::before {
  content: "";
  justify-self: center;
  width: 74px;
  height: 76px;
  background-image: url("../img/icons/feature-icons.svg");
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.feature-item:nth-child(2) {
  background-color: #ffffff;
}

.feature-item:nth-child(2)::before {
  content: "";
  justify-self: center;
  width: 74px;
  height: 76px;
  background-image: url("../img/icons/feature-icons.svg");
  background-position: -87px 6px;
  background-repeat: no-repeat;
}

.feature-item:last-child::before {
  content: "";
  justify-self: center;
  width: 64px;
  height: 76px;
  background-image: url("../img/icons/feature-icons.svg");
  background-position: -173px 0;
  background-repeat: no-repeat;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-wrap .advantages-subtitle {
  color: #ffffff;
}

.feature-item .advantages-subtitle {
  margin-top: 24px;
  margin-bottom: 0;
}

.advantages-number {
  margin-bottom: 30px;
}

.find-hotel {
  padding-top: 89px;
  padding-bottom: 81px;
  text-align: center;
}

.find-hotel-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.find-hotel-desc {
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  box-sizing: border-box;
  width: 575px;
  min-height: 60px;
  margin-top: 37px;
  margin-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 15px;
  font-size: 20px;
  line-height: 26px;
  background-color: #756257;
  border-radius: 10px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.button-search:active {
  background-color: #615048;
}

.filters {
  padding-top: 32px;
  padding-right: 72px;
  padding-bottom: 84px;
  padding-left: 72px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-catalog.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filters-title {
  margin: 0;
  margin-bottom: -7px;
  margin-left: -1px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  top: 11px;
  right: -8px;
  width: 5px;
  height: 8px;
  background-image: url("../img/icons/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  content: "";
  opacity: 0.3;
}

.breadcrumbs-item .breadcrumbs-link {
  display: inline-block;
  margin-top: 1px;
  padding-top: 3px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-left: 8px;
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  border-radius: 4px;
}

.breadcrumbs-item:first-child .breadcrumbs-link {
  width: 28px;
  height: 27px;
  margin: 0;
  margin-left: -7px;
  padding: 0;
  background-image: url("../img/icons/home.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.breadcrumbs-item .breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-item:first-child .breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-item .breadcrumbs-link:focus-visible {
  color: #ffffff;
  box-shadow: 0 0 0 3px #81b3d3 inset;
  outline: none;
}

.breadcrumbs-item .breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item:first-child .breadcrumbs-link:active {
  opacity: 0.3;
}

.filters-form {
  display: grid;
  grid-template-columns: 217px 311px 287px 241px;
}

.filters-form-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters-form-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filters-form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters-form-item {
  margin-bottom: 13px;
}

.filters-form-item:last-child {
  margin-bottom: 0;
}

.control-label {
  position: relative;
  line-height: 23px;
  padding-left: 39px;
}

.control-input + .control-label::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-label::after {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 4px;
  width: 13px;
  height: 10px;
  background-image: url("../img/icons/checkbox.svg");
  content: "";
}

.control-input[type="checkbox"]:hover + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.1s;
}

.control-input[type="checkbox"]:focus-visible + .control-label::before {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input[type="checkbox"]:active + .control-label::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="radio"] + .control-label::before {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-label::after {
  position: absolute;
  top: 6px;
  right: 0;
  bottom: 0;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-input[type="radio"]:focus-visible + .control-label::before {
  box-shadow: 0 0 0 3px #83b3d3 inset;
}

.control-input[type="radio"]:checked:focus-visible + .control-label::before {
  box-shadow: 0 0 0 3px #83b3d3;
}

.range-inputs {
  display: grid;
  grid-template-columns: repeat(2, minmax(143px, 287px));
  grid-template-rows: 48px;
  margin-top: 5px;
}

.range-label {
  z-index: 2;
  justify-self: end;
  align-self: center;
  margin-bottom: 2px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.3);
}

.range-label:first-of-type {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 13px;
}

.range-label:last-of-type {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-right: 15px;
}

.range-input {
  padding-left: 16px;
  padding-right: 36px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  outline: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:first-of-type {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-right: none;
  border-radius: 4px 0 0 4px;
  box-shadow: 2px 0 0 0 transparent;
}

.range-input:last-of-type {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: 2px;
  border-radius: 0 4px 4px 0;
  border-left: none;
  box-shadow: -2px 0 0 0 #ffffff;
}

.range-input:first-of-type:not(:focus):hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input:first-of-type:not(:focus):hover ~ .range-input:not(:focus) {
  box-shadow: -2px 0 0 0 rgba(255, 255, 255, 0.6);
}

.range-input:last-of-type:not(:focus):hover {
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: -2px 0 0 0 rgba(255, 255, 255, 0.6);
}

.range-input:first-of-type:focus {
  z-index: 1;
  box-shadow: 0 0 0 3px #81b3d3 inset, 2px 0 0 0 #ffffff, 0 0 0 3px #81b3d3, 5px 3px 0 0 #81b3d3, 5px -3px 0 0 #81b3d3;
}

.range-input:last-of-type:focus {
  z-index: 1;
  box-shadow: 0 0 0 3px #81b3d3 inset, -2px 0 0 0 #ffffff, 0 0 0 3px #81b3d3, -5px 3px 0 0 #81b3d3, -5px -3px 0 0 #81b3d3;
}

.range-input:active {
  background-color: #756257;
  border-color: #ffffff;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 28px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: grab;
}

.range-toggle:hover,
.range-toggle:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.range-toggle:active {
  box-shadow: 0 0 0 2px #83b3d3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.filters-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.button-apply {
  margin-bottom: 15px;
  padding-top: 14px;
  padding-right: 34px;
  padding-bottom: 13px;
  padding-left: 35px;
}

.button-apply:focus-visible {
  box-shadow: 0 0 0 3px #ffffff;
}

.button-reset {
  margin-right: 29px;
  margin-bottom: -5px;
  padding-top: 4px;
  padding-right: 14px;
  padding-bottom: 5px;
  padding-left: 14px;
  font-family: inherit;
  font-size: inherit;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.button-reset:active {
  opacity: 0.3;
}

.sorting {
  display: flex;
  justify-content: space-between;
  padding-top: 44px;
  padding-right: 72px;
  padding-bottom: 42px;
  padding-left: 72px;
}

.sorting-form {
  display: flex;
  align-items: center;
  width: 815px;
}

.sorting-form-label {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-form-input {
  width: 100px;
  margin-right: auto;
  margin-left: 4px;
  font-family: inherit;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.sorting-form-input::-webkit-outer-spin-button,
.sorting-form-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.select-control {
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  padding-top: 8px;
  padding-right: 36px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-family: inherit;
  font-size: inherit;
  line-height: 23px;
  color: inherit;
  background-image: url("../img/icons/arrow.svg");
  background-position: right 19px center;
  background-repeat: no-repeat;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
  appearance: none;
}

.select-control:hover {
  border-color: #83b3d3;
}

.select-control:focus-visible {
  border-color: #83b3d3;
}

.select-control:active {
  color: rgba(51, 51, 51, 0.3);
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-sorting {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.button-sorting-current {
  border-color: #000000;
}

.button-sorting:first-child {
  background-image: url("../img/icons/tile.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-sorting:nth-child(2) {
  background-image: url("../img/icons/slideshow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-sorting:last-child {
  background-image: url("../img/icons/list.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.button-sorting:hover:not(.button-sorting-current) {
  border-color: #83b3d3;
}

.button-sorting:focus-visible:not(.button-sorting-current) {
  border-color: #83b3d3;
  outline: none;
}

.catalog {
  padding-right: 72px;
  padding-left: 72px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  align-items: flex-start;
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.catalog-image-link {
  width: 180px;
  height: 120px;
  margin-right: 36px;
}

.catalog-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-image-link:hover .catalog-image {
  opacity: 0.6;
}

.catalog-image-link:focus-visible {
  outline: none;
}

.catalog-image-link:focus-visible .catalog-image {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.catalog-image-link:active .catalog-image {
  opacity: 0.3;
}

.catalog-desc {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: min-content min-content min-content;
  column-gap: 8px;
  margin-right: auto;
  line-height: 23px;
}

.catalog-link {
  grid-column: 1 / -1;
  justify-self: start;
  margin-top: -11px;
  margin-left: -11px;
  padding-top: 7px;
  padding-right: 13px;
  padding-bottom: 7px;
  padding-left: 12px;
  text-decoration: none;
  border-radius: 10px;
}

.catalog-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.catalog-link:hover .catalog-title {
  color: #756257;
}

.catalog-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.catalog-link:focus-visible .catalog-title {
  color: #756257;
}

.catalog-type {
  margin-top: -5px;
  margin-left: 2px;
}

.catalog-price {
  margin-top: -5px;
}

.button-about {
  margin-top: 31px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #756257;
}

.button-about:hover {
  background-color: #615048;
}

.button-about:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-about:active {
  background-color: #615048;
}

.button-favorites {
  margin-top: 31px;
  padding-right: 10px;
  padding-left: 10px;
}

.button-favorites:hover {
  box-shadow: 0 0 0 1px #756257 inset;
}

.button-favorites:active {
  box-shadow: 0 0 0 1px #756257 inset;
}

.button-favorites-current {
  background-color: #7db54f;
}

.button-favorites-current:hover {
  background-color: #6c9e42;
  box-shadow: none;
}

.button-favorites-current:focus-visible {
  background-color: #6c9e42;
}

.button-favorites-current:active {
  background-color: #6c9e42;
  box-shadow: none;
}

.catalog-rating {
  width: 160px;
  text-align: center;
}

.hotel-stars {
  margin-top: 3px;
}

.hotel-rating {
  display: block;
  margin-top: 59px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-more {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.button-show-more {
  width: 625px;
  height: 55px;
  font-size: 20px;
  line-height: 26px;
}

.pagination-pages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  box-sizing: border-box;
  min-width: 55px;
  height: 55px;
  margin-bottom: 8px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 14px;
  padding-left: 10px;
  font-size: 20px;
  line-height: 26px;
}

.pagination-link:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-current:hover,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
  cursor: default;
}

.pagination-form-title {
  margin-right: 46px;
  line-height: 23px;
}

.pagination-select-control {
  width: 160px;
  padding-left: 15px;
}

.newsletter {
  padding-top: 79px;
  padding-right: 72px;
  padding-bottom: 128px;
  padding-left: 72px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-index {
  padding-top: 92px;
  padding-bottom: 84px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-newsletter.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.newsletter-index .newsletter-title {
  color: inherit;
}

.newsletter-form {
  display: flex;
  justify-content: center;
  margin-top: 47px;
  margin-bottom: 10px;
}

.newsletter-form-field {
  box-sizing: border-box;
  width: 600px;
  min-height: 60px;
  padding-right: 22px;
  padding-left: 22px;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.newsletter-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.newsletter-form-field:hover {
  background-color: #e6e6e6;
}

.newsletter-form-field:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.newsletter-form-field:invalid:focus {
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #ff5757 inset;
}

.newsletter-form-field:active {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000 inset;
}

.button-subscribe {
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
}

.main-footer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: auto;
  padding-top: 24px;
  padding-right: 49px;
  padding-bottom: 16px;
  padding-left: 61px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin: 0;
  margin-top: 14px;
  margin-right: 139px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(5n) {
  margin-right: 0;
}

.footer-social-link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.footer-social-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.footer-social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 1px;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus-visible .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-link:active .footer-social-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.phone-number {
  display: inline-block;
  margin-right: auto;
  margin-bottom: 10px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 17px;
  padding-left: 15px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.phone-number:hover {
  color: #756257;
}

.phone-number:focus-visible {
  color: #756257;
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.phone-number:active {
  color: rgba(117, 98, 87, 0.3);
}

.logo-htmlacademy-link {
  display: inline-block;
  padding-top: 18px;
  padding-right: 22.5px;
  padding-bottom: 14px;
  padding-left: 22.5px;
  border-radius: 10px;
}

.logo-htmlacademy {
  fill: #000000;
}

.logo-htmlacademy-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.logo-htmlacademy-link:hover .logo-htmlacademy {
  fill: #756257;
}

.logo-htmlacademy-link:focus-visible .logo-htmlacademy {
  fill: #756257;
}

.logo-htmlacademy-link:active .logo-htmlacademy {
  fill: rgba(117, 98, 87, 0.3);
}

.popup {
  position: absolute;
  top: 62px;
  right: 72px;
  display: none;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  background-color: #ffffff;
  border-radius: 20px 20px 23px 23px;
  box-shadow: 0 0 0 1px #e6e6e6 inset, 0 25px 50px rgba(0, 0, 0, 0.15);
}

.popup-cart {
  width: 400px;
}

.popup-open {
  display: block;
}

.popup::before {
  position: absolute;
  top: -8px;
  left: 50%;
  content: "";
  width: 20px;
  height: 9px;
  margin-left: -12px;
  background-image: url("../img/popup-triangle.svg");
  background-repeat: no-repeat;
}

.popup-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-left: 15px;
}

.popup-link {
  display: grid;
  grid-template-columns: 65px max-content;
  grid-template-rows: repeat(2, 24px);
  padding: 10px;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
}

.popup-link:hover {
  color: inherit;
  opacity: 0.6;
}

.popup-link:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
}

.popup-link:active {
  opacity: 0.3;
}

.button-delete {
  width: 36px;
  height: 36px;
  margin-top: 7px;
  margin-right: 15px;
  background-color: #ffffff;
  background-image: url("../img/icons/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 10px;
  opacity: 0.2;
}

.button-delete:hover {
  opacity: 1;
}

.button-delete:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3 inset;
  outline: none;
  opacity: 1;
}

.button-delete:active {
  opacity: 0.1;
}

.popup-image {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
}

.popup-title {
  margin: 0;
  margin-top: -6px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.popup-text {
  margin-top: -10px;
}

.button-popup {
  display: block;
  margin-top: 16px;
  padding-top: 20px;
  padding-bottom: 19px;
  background-color: #756257;
  border-radius: 0 0 20px 20px;
}

.button-popup:hover {
  background-color: #615048;
}

.button-popup:focus-visible {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.button-popup:active {
  background-color: #615048;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  padding-top: 52px;
  padding-right: 70px;
  padding-bottom: 60px;
  padding-left: 68px;
  line-height: 40px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
}

.modal-find {
  width: 715px;
}

.modal-title {
  margin-top: 9px;
  line-height: 40px;
  text-align-last: left;
}

.modal-close {
  position: relative;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.modal-close:hover {
  background-color: #e6e6e6;
}

.modal-close:focus-visible {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-close:active {
  background-color: #e6e6e6;
}

.modal-close-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.modal-close:active .modal-close-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.modal-form {
  display: grid;
  grid-template-columns: 155px 189px 97px 133px;
  grid-template-rows: repeat(6, min-content);
  margin-top: 33px;
  margin-bottom: 10px;
  margin-left: 2px;
}

.modal-label {
  grid-column: 1 / 2;
  margin-top: 6px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #000000;
}

.modal-input {
  box-sizing: border-box;
  grid-column: 2 / 5;
  width: 420px;
  height: 50px;
  padding-left: 19px;
  padding-right: 40px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
}

.modal-input-date {
  background-image: url("../img/icons/date.svg");
  background-position: right 19px top 19px;
  background-repeat: no-repeat;
}

.modal-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:focus-visible {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
}

.modal-input:active {
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 0 2px #000000 inset;
}

.modal-input:nth-of-type(4) {
  grid-column: 4 / 5;
}

.number-inputs {
  position: relative;
  width: 133px;
  margin: 0;
}

.modal-input-number {
  width: 133px;
  padding-left: 37px;
  padding-top: 2px;
  padding-right: 37px;
  text-align: center;
  outline: none;
  appearance: textfield;
}

.modal-input-number::-webkit-outer-spin-button,
.modal-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-input-number {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.number-minus {
  top: 13px;
  left: 14px;
  background-image: url("../img/icons/minus.svg");
}

.number-plus {
  top: 13px;
  right: 13px;
  background-image: url("../img/icons/plus.svg");
}

.button-input-number:hover {
  opacity: 1;
}

.button-input-number:focus-visible {
  box-shadow: 0 0 0 3px #83b3d3;
  opacity: 1;
}

.button-input-number:active {
  opacity: 0.2;
}

.message-error,
.message-success {
  grid-column: 2 / 5;
  margin-top: -6px;
  margin-bottom: 6px;
  font-size: 16px;
}

.message-error {
  color: #ff5757;
}

.modal-tooltip {
  position: relative;
  display: flex;
  margin: 0;
}

.button-tooltip {
  align-self: center;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  margin-top: 5px;
  margin-left: 10px;
  background-color: #83b3d3;
  background-image: url("../img/icons/info.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  cursor: help;
}

.button-tooltip:hover {
  background-color: #68a2ca;
}

.tooltip {
  position: absolute;
  top: 55px;
  left: -62px;
  z-index: 1;
  display: none;
  box-sizing: border-box;
  width: 256px;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 24px;
  padding-left: 22px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  content: "";
}

.tooltip::before {
  position: absolute;
  top: -9px;
  left: 50%;
  display: block;
  width: 19px;
  height: 9px;
  margin-left: -10px;
  background-image: url("../img/modal-triangle.svg");
  background-repeat: no-repeat;
  content: "";
}

.tooltip-open {
  display: block;
}

.button-search-modal {
  grid-column: 1 / -1;
  margin-top: 41px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: inherit;
  border-radius: 10px;
}
