@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  padding-left: 59px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 392px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  padding-top: 12px;
  padding-right: 9.6px;
  padding-bottom: 13.5px;
}

.navigation-item:nth-child(3n) {
  margin-right: 0;
}

.navigation-link {
  display: block;
  padding: 3px 9px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.logo {
  position: relative;
  width: 138px;
  margin-bottom: -5px;
  margin-left: 80px;
  line-height: 0;
}

.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0;
  margin-left: auto;
  padding-right: 72px;
  list-style-type: none;
}

.navigation-user-item:first-child {
  padding-right: 1px;
}

.navigation-user-item:last-child {
  padding-left: 23px;
}

.navigation-user-link {
  display: block;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.navigation-user-icon {
  width: 100%;
  height: 100%;
}

.button {
  display: inline-block;
  padding: 5px 31px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #83b3d3;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
}

.button-brown {
  background-color: #756257;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-header {
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.intro {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #e5e5e5;
  background-image: url("../img/divider.svg"), url("../img/background-intro.jpg");
  background-position: 0 bottom, 0 0;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.intro-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.advantages {
  text-align: center;
}

.advantages-title {
  width: 720px;
  margin-top: 61px;
  margin-right: auto;
  margin-bottom: 33px;
  margin-left: auto;
  color: #000000;
}

.advantages-desc {
  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 80px;
  padding: 0;
  list-style-type: none;
}

.advantages-item-first,
.advantages-item-second {
  display: flex;
  background-color: #83b3d3;
}

.advantages-item-wrap {
  box-sizing: border-box;
  width: 400px;
  padding-top: 98px;
  padding-right: 90px;
  padding-left: 90px;
  color: #ffffff;
}

.advantages-image {
  width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature-item,
.advantages-item-third,
.advantages-item-fourth,
.advantages-item-fifth {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-item {
  padding-top: 185px;
}

.feature-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-wrap .advantages-subtitle {
  color: #ffffff;
}

.feature-item .advantages-subtitle {
  margin-bottom: 0;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-text-inner {
  display: block;
}

.find-hotel {
  min-height: 328px;
  padding-top: 88px;
  text-align: center;
}

.find-hotel-title {
  margin-top: 0;
  margin-bottom: 31px;
  color: #000000;
}

.find-hotel-desc {
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  width: 575px;
  height: 60px;
  margin-top: 36px;
  padding-top: 13px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.filters {
  min-height: 375px;
  padding-top: 33px;
  padding-right: 72px;
  padding-left: 72px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-catalog.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filters-title {
  margin: 0;
  margin-bottom: -4px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
}

.filters-form {
  display: grid;
  grid-template-columns: 217px 312px 287px 240px;
}

.filters-form-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters-form-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filters-form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters-form-item {
  margin-bottom: 13px;
}

.filters-form-item:last-child {
  margin-bottom: 0;
}

.control-label {
  line-height: 23px;
}

.price-controls {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 48px;
  margin-top: 5px;
}

.filters-form-label {
  justify-self: end;
  align-self: center;
  line-height: 23px;
  opacity: 0.3;
  z-index: 2;
}

.filters-form-label-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-right: 14px;
}

.filters-form-label-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-right: 17px;
}

.filters-form-input {
  padding-left: 16px;
  padding-right: 20px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 2px solid #ffffff;
  outline: none;
}

.filters-form-input-left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-radius: 4px 0 0 4px;
}

.filters-form-input-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin-left: -2px;
  border-radius: 0 4px 4px 0;
}

.filters-form-input:hover {
  border-color: #b1b8bc;
  z-index: 1;
}

.filters-form-input:focus {
  box-shadow: 0px 0px 0px 3px #81b3d2, 0px 0px 0px 3px #81b3d2 inset;
  z-index: 1;
}

.filters-form-input:active {
  background-color: #756257;
}

.filters-form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button-apply {
  align-self: end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-reset {
  align-self: end;
  padding-right: 12px;
  padding-bottom: 1px;
  padding-left: 12px;
  font-family: inherit;
  font-size: inherit;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  border-color: #83b3d3;
}

.button-reset:active {
  opacity: 0.3;
}

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  padding-top: 44px;
  padding-right: 72px;
  padding-left: 72px;
}

.sorting-form {
  display: grid;
  width: 815px;
  grid-template-columns: max-content auto auto;
  align-items: start;
}

.sorting-form-label {
  margin-top: 5px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-form-input {
  width: 55px;
  margin-top: 5px;
  margin-left: 4px;
  font-family: inherit;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: none;
}

.select-control {
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  margin-left: auto;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-sorting {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.catalog {
  padding-right: 72px;
  padding-left: 72px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  align-items: flex-start;
  min-height: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #e6e6e6;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.catalog-item-image-link {
  width: 180px;
  height: 120px;
  margin-right: 36px;

}

.catalog-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.catalog-item-desc {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: min-content min-content min-content;
  column-gap: 8px;
  margin-right: auto;
  line-height: 23px;
}

.catalog-item-link {
  grid-column: 1 / -1;
  margin-top: -4px;
  margin-left: 2px;
  text-decoration: none;
}

.catalog-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-type {
  margin-top: 1px;
  margin-left: 2px;
}

.catalog-item-price {
  margin-top: 1px;
}

.button-about {
  margin-top: 32px;
  padding-right: 10px;
  padding-left: 10px;
}

.button-favorites {
  margin-top: 32px;
  padding-right: 10px;
  padding-left: 10px;
}

.button-favorites-current {
  background-color: #7db54f;
}

.catalog-item-rating {
  width: 160px;
  text-align: center;
}

.hotel-stars {
  margin-top: 3px;
}

.hotel-rating {
  display: block;
  margin-top: 59px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-more {
  min-height: 85px;
  padding-top: 30px;
  border-bottom: 1px solid #e6e6e6;
}

.button-show-more {
  display: block;
  width: 625px;
  height: 55px;
  margin-left: 216px;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.pagination-pages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  padding-right: 8px;
  padding-bottom: 8px;
}

.pagination-item:nth-child(6n) {
  padding-right: 0;
}

.pagination-link {
  box-sizing: border-box;
  min-width: 55px;
  padding-top: 10.5px;
  padding-right: 11px;
  padding-bottom: 12.5px;
  padding-left: 11px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-form-title {
  margin-right: 46px;
  line-height: 23px;
}

.pagination-select-control {
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.newsletter {
  min-height: 363px;
  padding-top: 79px;
  padding-right: 200px;
  padding-left: 200px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-index {
  min-height: 319px;
  padding-top: 92px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-newsletter.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.newsletter-title-inner {
  color: #000000;
}

.newsletter-form {
  display: grid;
  grid-template-columns: min-content max-content;
  margin-top: 48px;
}

.newsletter-form-field {
  box-sizing: border-box;
  width: 600px;
  height: 60px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 10px 0 0 10px;
}

.button-subscribe {
  width: 200px;
  height: 60px;
  border: 3px solid #83b3d3;
  border-radius: 0 10px 10px 0;
}

.button-subscribe:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px rgba(117, 98, 87, 1);
}

.main-footer {
  display: flex;
  align-items: flex-start;
  min-height: 98px;
  margin-top: auto;
  padding-top: 22px;
  padding-right: 49px;
  padding-left: 61px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-top: 16px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(5n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.footer-social-icon {
  width: 100%;
  height: 100%;
  fill: #83b3d3;
}

.footer-social-link:hover .footer-social-icon {
  fill: #68a2ca;
}

.footer-social-link:active .footer-social-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.phone-number {
  display: block;
  margin-left: 109px;
  padding-top: 12px;
  padding-right: 12.3px;
  padding-bottom: 12px;
  padding-left: 12.3px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border: 3px solid transparent;
  border-radius: 10px;
}

.phone-number:hover {
  color: #756257;
}

.phone-number:active {
  color: #756257;
  opacity: 0.3;
}

.logo-htmlacademy-link {
  display: block;
  margin-top: 4px;
  margin-left: auto;
  padding-top: 13px;
  padding-right: 19.5px;
  padding-bottom: 13px;
  padding-left: 19.5px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.logo-htmlacademy-link:hover .logo-htmlacademy {
  fill: #756257;
}

.logo-htmlacademy-link:active .logo-htmlacademy {
  fill: #756257;
  opacity: 0.3;
}
