@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  padding-left: 59px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 392px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  margin-top: 13.5px;
  margin-right: 9px;
  margin-bottom: 13.5px;
}

.navigation-item:nth-child(3n) {
  margin-right: 0;
}

.navigation-link {
  display: block;
  padding: 3px 9px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 3px solid transparent;
  border-radius: 10px;
}

.logo {
  position: relative;
  width: 138px;
  margin-bottom: -5px;
  margin-left: 80px;
  line-height: 0;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  max-width: 280px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-right: 72px;
  list-style-type: none;
}

.navigation-user-item {
  margin-top: auto;
  margin-right: 23px;
  margin-bottom: auto;
}

.navigation-user-item:first-child {
  margin-right: 1px;
}

.navigation-user-item:last-child {
  margin-right: 0;
}

.navigation-user-link {
  display: block;
  min-width: 38px;
  min-height: 38px;
  padding: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.button-large {
  font-size: 20px;
  line-height: 26px;
}

.button-brown {
  background-color: #756257;
}

.button-blue {
  background-color: #83b3d3;
}

.button-wish {
  box-sizing: border-box;
  padding-top: 9px;
  padding-right: 34.5px;
  padding-left: 34.5px;
  border: 0;
  border-radius: 4px;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-header {
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.intro {
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #e5e5e5;
  background-image: url("../img/divider.svg"), url("../img/background-intro.jpg");
  background-position: 0 bottom, 0 0;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.intro-image {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.advantages {
  text-align: center;
}

.advantages-title {
  width: 720px;
  margin-top: 63px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: #000000;
}

.advantages-desc {
  margin-top: 24px;
  margin-bottom: 79px;
  font-size: 22px;
  line-height: 36px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-first,
.advantages-item-second {
  display: flex;
  background-color: #83b3d3;
}

.advantages-item-wrap {
  box-sizing: border-box;
  width: 400px;
  padding-top: 98px;
  padding-right: 90px;
  padding-left: 90px;
  color: #ffffff;
}

.advantages-image {
  width: 800px;
  margin-top: auto;
  margin-bottom: auto;
}

.feature-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.feature-item,
.advantages-item-third,
.advantages-item-fourth,
.advantages-item-fifth {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  padding-top: 98px;
  padding-right: 75px;
  padding-left: 75px;
  background-color: rgba(131, 179, 211, 0.12);
}

.feature-item {
  padding-top: 184px;
}

.feature-item:nth-child(2) {
  background-color: #ffffff;
}

.advantages-item-fourth {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-subtitle {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-item-wrap .advantages-subtitle {
  color: #ffffff;
}

.feature-item .advantages-subtitle {
  margin-bottom: 20px;
}

.advantages-number {
  margin-bottom: 26px;
}

.advantages-text-inner {
  display: block;
}

.find-hotel {
  min-height: 326px;
  padding-top: 91px;
  text-align: center;
}

.find-hotel-title {
  margin-top: 0;
  margin-bottom: 35px;
  color: #000000;
}

.find-hotel-desc {
  font-size: 22px;
  line-height: 26px;
}

.button-search {
  display: inline-block;
  box-sizing: border-box;
  width: 575px;
  height: 60px;
  margin-top: 51px;
  padding-top: 13px;
  border: 3px solid transparent;
  border-radius: 10px;
}

.filters {
  min-height: 373px;
  padding-top: 35px;
  padding-right: 72px;
  padding-left: 72px;
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-catalog.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.filters-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  color: #ffffff;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  color: inherit;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
}

.filters-form-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters-form-group:nth-child(1) {
  width: 216px;
}

.filters-form-group:nth-child(2) {
  width: 312px;
}

.filters-form-group:nth-child(3) {
  width: 287px;
}

.filters-form-buttons {
  width: 170px;
}

.filters-form-title {
  margin-bottom: 30px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
}

.filters-form-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filters-form-item {
  margin-bottom: 13px;
}

.control-label {
  line-height: 23px;
}

.button-reset {
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

.sorting {
  display: flex;
  justify-content: space-between;
  min-height: 90px;
  padding-top: 44px;
  padding-right: 72px;
  padding-left: 72px;
}

.sorting-form {
  width: 815px;
}

.sorting-form-label {
  padding-top: 6px;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.sorting-form-input {
  width: 55px;
  margin-right: 163px;
  font-family: inherit;
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  color: #000000;
  background-color: transparent;
  border: none;
}

.select-control {
  box-sizing: border-box;
  width: 287px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sorting-list {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-sorting {
  display: block;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.catalog {
  padding-right: 72px;
  padding-left: 72px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  display: flex;
  min-height: 152px;
  padding-top: 28px;
  border-top: 1px solid #e6e6e6;
}

.catalog-item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.catalog-item-image {
  width: 180px;
  margin-top: 3px;
  margin-right: 36px;
}

.catalog-item-desc {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: 31px 23px 67px;
  grid-template-areas: "catalog-title catalog-title" "catalog-type catalog-price" "button-about button-favorites";
  column-gap: 8px;
  row-gap: 1px;
  width: 319px;
  margin-right: auto;
}

.catalog-item-link {
  grid-area: catalog-title;
  text-decoration: none;
}

.catalog-item-title {
  margin: 0;
  margin-left: 3px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.catalog-item-type,
.catalog-item-price {
  margin-left: 3px;
  line-height: 23px;
}

.catalog-item-type {
  grid-area: catalog-type;
}

.catalog-item-price {
  grid-area: catalog-price;
}

.button-about {
  padding-top: 8px;
  padding-bottom: 8px;
  grid-area: button-about;
  align-self: end;
  border: 0;
  border-radius: 4px;
}

.button-favorites {
  padding-top: 8px;
  padding-bottom: 8px;
  grid-area: button-favorites;
  align-self: end;
  border: 0;
  border-radius: 4px;
}

.button-favorites-current {
  background-color: #7db54f;
  border: 0;
}

.catalog-item-rating {
  width: 160px;
  padding-top: 6px;
  text-align: center;
}

.hotel-stars {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hotel-rating {
  display: block;
  margin-top: 63px;
  padding-top: 8px;
  padding-bottom: 9px;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.pagination-more {
  min-height: 85px;
  padding-top: 31px;
  text-align: center;
  border-bottom: 1px solid #e6e6e6;
}

.button-show-more {
  display: inline-block;
  box-sizing: border-box;
  width: 625px;
  height: 55px;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.pagination-pages {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 31px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:nth-child(-n+5) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 49px;
  padding-top: 11.7px;
  padding-bottom: 11.7px;
  border: 3px solid #83b3d3;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.pagination-form-title {
  line-height: 23px;
}

.pagination-select-control {
  box-sizing: border-box;
  width: 160px;
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.newsletter {
  min-height: 317px;
  padding-top: 94px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletter-index {
  color: #ffffff;
  background-color: #68a2ca;
  background-image: url("../img/background-newsletter.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.newsletter-inner {
  padding-top: 89px;
}

.newsletter-title {
  margin-top: 0;
  margin-bottom: 35px;
}

.newsletter-inner-title {
  color: #000000;
}

.newsletter-form {
  margin-top: 48px;
}

.button-subscribe {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  height: 60px;
  border: 3px solid #83b3d3;
  border-radius: 0 10px 10px 0;
}

.main-footer {
  display: flex;
  margin-top: auto;
  padding-top: 40px;
  padding-right: 72px;
  padding-left: 61px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 4px;
  margin-bottom: 4px;
}

.footer-social-item:nth-child(5n) {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  border: 3px solid transparent;
  border-radius: 10px;
}

.phone-number {
  margin-left: 125px;
  padding: 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-htmlacademy {
  margin-left: auto;
}
